.gpt3__features-container__feture {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.gpt3__features-container__feture-title {
  flex: 1;
  max-width: 180px;
  margin-right: 4rem;
}
.gpt3__features-container__feture-title div {
  width: 38px;
  height: 3px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
  margin-bottom: 1rem;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
}

.gpt3__features-container__feture-title h1 {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  margin-right: 1rem;
}
.gpt3__features-container__feature-text {
  flex: 2;
  max-width: 710px;
}
.gpt3__features-container__feature-text p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(129, 175, 221, 1);
  margin-top: 1rem;
  line-height: 30px;
}
